<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--启动时自动扫描该包下所有的Bean-->
    <context:component-scan base-package="team.tab.daixu" />

    <!--注册一个UserDaoImpl对象，实例名为“userDaoImpl”-->
    <bean id="articleDaoImpl" class="team.tab.daixu.dao.impl.ArticleDaoImpl"/>

    <!--注册一个UserServiceImpl对象，实例名为“userServiceImpl”-->
    <bean id="articleServiceImpl" class="team.tab.daixu.service.impl.ArticleServiceImpl"/>
</beans>