<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--Dao层-->
    <bean id="articleDaoImpl" class="team.tab.daixu.dao.impl.ArticleDaoImpl"/>
    <bean id="userDaoImpl" class="team.tab.daixu.dao.impl.UserDaoImpl"/>

    <!--service层-->
    <bean id="advServiceImpl" class="team.tab.daixu.service.impl.AdvServiceImpl"/>
    <bean id="articleDraftServiceImpl" class="team.tab.daixu.service.impl.ArticleDraftServiceImpl"/>
    <bean id="articleLabelServiceImpl" class="team.tab.daixu.service.impl.ArticleLabelServiceImpl"/>
    <bean id="articleServiceImpl" class="team.tab.daixu.service.impl.ArticleServiceImpl"/>
    <bean id="collectionServiceImpl" class="team.tab.daixu.service.impl.CollectionServiceImpl"/>
    <bean id="continueServiceImpl" class="team.tab.daixu.service.impl.ContinueServiceImpl"/>
    <bean id="newsServiceImpl" class="team.tab.daixu.service.impl.NewsServiceImpl"/>
    <bean id="replyServiceImpl" class="team.tab.daixu.service.impl.ReplyServiceImpl"/>
    <bean id="storylineCommentServiceImpl" class="team.tab.daixu.service.impl.StorylineCommentServiceImpl"/>
    <bean id="storylineContinueRelateServiceImpl" class="team.tab.daixu.service.impl.StorylineContinueRelateServiceImpl"/>
    <bean id="storylineContinueServiceImpl" class="team.tab.daixu.service.impl.StorylineContinueServiceImpl"/>
    <bean id="storylineLabelServiceImpl" class="team.tab.daixu.service.impl.StorylineLabelServiceImpl"/>
    <bean id="storylineServiceImpl" class="team.tab.daixu.service.impl.StorylineServiceImpl"/>
    <bean id="userServiceImpl" class="team.tab.daixu.service.impl.UserServiceImpl"/>

    <!--cached层-->
    <bean id="advCachedDaoImpl" class="team.tab.daixu.cached.impl.AdvCachedDaoImpl"/>

    <!--util类-->
    <bean id="passwordUtilImpl" class="team.tab.daixu.util.password.impl.Md5UtilImpl"/>
</beans>